:root {
    --main-text-color: yellow;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --shape-background: rgba(0, 0, 0, 0.9);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* -------------------------------------------------------------- */

.smallBtn {
    background-color: var(--main-text-color);
    font-size: 1rem;
    font-family: var(--font-family);
    padding: 1vh 1vw;
    border: 1px solid transparent;
}

.smallBtn:hover {
    background-color: black;
    border: 1px solid var(--main-text-color);
    color: var(--main-text-color);
    cursor: pointer;
}

/* ----------------------------------------------------------------- */

/* #nav {
    background-color: black;
    width: 80%;
    padding: 0 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#nav-icon {
    text-decoration: none;
    color: var(--main-text-color);
}

#nav-items {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: var(--main-text-color);
    font-family: var(--font-family);
}

.nav-items-about-title {
    padding: 3vh 1vw;
    cursor: pointer;
    min-width: 10%;
    display: flex;
    justify-content: center;
}

.nav-items-about-title:hover {
    background-color: black;
    color: var(--main-text-color);
}

#nav-items-about-title-items {
    position: absolute;
    display: none;
    background-color: black;
    padding: 1vh 1vw;
    color: var(--main-text-color);
    list-style-type: none;
}

#nav-items-about-title-items a {
    color: var(--main-text-color);
    text-decoration: none;
}

#nav-items-about-title-items li {
    padding: 2vh 4vw;
}

#nav-items-about-title-items li:hover {
    background-color: var(--main-text-color);
    color: black;
    cursor: pointer;
}

#nav-items-about:hover #nav-items-about-title-items {
    display: block;
}

#nav-items-about-title-items:hover #nav-items-about {
    background-color: black;
    color: var(--main-text-color);
} */

/* ------------------------------------------------------------ */

/* #main {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./../assets/images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-text {
    color: var(--main-text-color);
    font-size: 4rem;
    font-family: var(--font-family);
    margin: 0 0 0 10vw;
}

.main-small {
    color: white;
    font-size: 2rem;
    font-family: var(--font-family);
    margin: 0 0 0 10vw;
} */

/* --------------------------------------------------------------------- */

/* #about {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./../assets/images/risen-wang-20jX9b35r_M-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-shapes {
    position: relative;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.squares {
    flex: 1;
    height: 50em;
}

.triangle-bottom-right {
    background-color: transparent;
    border-top: 25em solid transparent;
    border-left: 25em solid transparent;
    border-bottom: 25em solid var(--shape-background);
    border-right: 25em solid var(--shape-background);
    width: 0;
    height: 0;
}

#about-shapes-box1 {
    background-color: transparent;
}

#about-shapes-box2 {
    background-color: var(--shape-background);
}


#about-info {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
}

#about-info p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1.2rem;
    margin: 2vh 0;
}

#about-info div {
    width: 15%;
    border-bottom: 1px solid var(--main-text-color);
} */

/* ------------------------------------------------------------------- */

/* #products {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./../assets/images/ctrl-a-meal-replacement-03e4RajfFAE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#products-shapes {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
}

#products-shapes-left {
    position: relative;
    top: 0;
    width: 65%;
    height: 100vh;
}

#products-triangle-top-left {
    width: 0;
    height: 0;
    border-top: 20vh solid var(--shape-background);
    border-right: 15em solid transparent;
    border-bottom: 20vh solid transparent;
    border-left: 15em solid var(--shape-background);
}

#products-triangle-bottom-right-one {
    width: 0;
    height: 0;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 20vh solid transparent;
    border-right: 10em solid var(--shape-background);
    border-bottom: 20vh solid var(--shape-background);
    border-left: 10em solid transparent;
}

#products-shapes-right {
    position: relative;
    top: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#products-shapes-right-area {
    display: flex;
}

#products-triangle-bottom-right-two {
    align-self: flex-end;
    width: 0;
    height: 0;
    border-top: 25vh solid transparent;
    border-right: 17.5vw solid var(--shape-background);
    border-bottom: 25vh solid var(--shape-background);
    border-left: 17vw solid transparent;
}



#products-rectangle {
    width: 100%;
    height: 20em;
    background-color: var(--shape-background);
}

#products-info {
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 20%;
}

#products-info p {
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-family: var(--font-family);
    margin: 3vh 0;
}

#products-info input {
    position: absolute;
    right: 0;
} */

/* ------------------------------------------------------------ */

/* #trainers {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./../assets/images/bruce-mars-HHXdPG_eTIQ-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#trainers-shapes {
    width: 40%;
    height: 100vh;
    position: absolute;
    right: 0;
    align-items: center;
}

#trainers-shapes div {
    width: 100%;
    height: 100%;
    background-color: var(--shape-background);
}

#trainers-info {
    position: absolute;
    right: 7.5%;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1vw 0 0;
}

#trainers-info-contain p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1.2rem;
    margin: 3vh 0;
}

#trainers-info-contain input {
    position: absolute;
    right: 0;
} */

/* -------------------------------------------------------- */

/* footer {
    width: 100%;
    padding: 15vh 0;
    display: flex;
    justify-content: center;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 3vw;
}

#footer-contact h2 {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 2rem;
}

#footer-contact-info {
    padding: 2vh 0;
}

#footer-contact-info p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1rem;
}

#footer-contact-address {
    padding: 1vh 0;
}

#footer-contact-address p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1rem;
}

#footer-contact-links {
    padding: 2vh 0;
    display: flex;
    align-items: center;
}

#footer-contact-links p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: .5rem;
    margin: 0 1vw 0 0;
}

#footer-nav {
    padding: 10vh 3vw 0 3vw;
    display: flex;
    flex-direction: column;
}

#footer-nav p {
    margin: 0 1vw 2vh 0;
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1rem;
    text-decoration: underline;
}

#footer-email {
    padding: 5vh 7vw;
}

#footer-email h2 {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1.7rem;
}

#footer-email-inputs {
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
}

#footer-email-inputs p {
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: .9rem;
    margin-bottom: 1vh;
}

#footer-email-inputs-text {
    padding: 1vh 1vw;
    background-color: transparent;
    border-color: var(--main-text-color);
    color: var(--main-text-color);
    margin-bottom: 1vh;
}

#footer-email-inputs-text::placeholder {
    color: var(--main-text-color);
    opacity: .3;
}

#footer-email-inputs-text:-ms-input-placeholder {
    color: var(--main-text-color);
    opacity: .3;
}

#footer-email-inputs-text::-ms-input-placeholder {
    color: var(--main-text-color);
    opacity: .3;
}

#footer-email-inputs-text:focus {
    border: 2px solid var(--main-text-color);
    outline: var(--main-text-color);
}

#footer-email-inputs-btn {
    padding: 1vh 1vw;
    width: 20%;
    font-size: .9rem;
} */

/* ------------------------------------------------- */

@media screen and (min-width: 2000px) {
    
}