<div id="main">
    <h1 class="main-text">Achieve Your</h1>
    <h1 class="main-text">Dreams</h1>
    <h2 class="main-small">Reach for your goals.</h2>
</div>

<div id="about">
    <div class="slide-in-right-animate" id="about-shapes">
        <!-- <div class="squares" id="about-shapes-box1"></div>
        <div class="triangle-bottom-right" id="about-shapes-triangle"></div>
        <div class="squares" id="about-shapes-box2"></div> -->
        <div id="test-triangle"></div>
    </div>
    <div class="fade-in-animate" id="about-info">
        <p>Joins us to achieve your dream body and psychical goals. With
        the best equipment there is and some of the best trainers, we can
        help you achieve any goal you have set your eyes on. All we need
        is you and your dedication.</p> 
        <div></div>
    </div>
</div>

<div id="products">
    <div id="products-shapes">
        <div class="slide-in-left-animate" id="products-triangle-top-left"></div>
        <div class="slide-in-right-animate" id="products-shapes-right-triangle"></div>
    </div>

    <div id="products-info" class="fade-in-animate">
        <p>Enjoy a wide selection of products that our shop has from
        protein, to creatine all to help you reach your goals.</p>
        <input type="button" value="Shop" id="products-info-link" class="smallBtn" />
    </div>
</div>

<div id="trainers">
    <div id="trainers-shapes">
        <div class="slide-in-right-animate"></div>
    </div>

    <div id="trainers-info">
        <div id="trainers-info-contain" class="fade-in-animate">
            <p>Train with some of the best out there. Our trainers will work
            with you to achieve an goal from weight lost to muscle gain.</p>
            <input type="button" value="View" id="trainer-info-link" class="smallBtn" />
        </div>
    </div>
</div>

<script src="./js/Home.js"></script>