<div id="membership-header">
    <div id="image-container"></div>
    <div id="membership-header-shade"></div>
    <div id="membership-header-text-hold">
        <p class="membership-header-text">Don't miss your goals,</p>
        <p class="membership-header-text">join today</p>
    </div>
</div>

<div id="membership-plans">
    <div class="membership-plan" id="plan-one-background">
        <p class="membership-plan-name" id="plan-one-title">1 Plate</p>

        <p class="membership-plan-price">$9.99/monthly</p>

        <div class="membership-plan-line"></div>

        <p class="membership-plan-desc">
            Enjoy our wonderful facilities and reach your goals.
        </p>

        <ul class="membership-plan-items">
            <li>Access to basic facilities</li>
            <li>3 free trainer meets</li>
        </ul>
    </div>

    <div class="membership-plan" id="plan-two-background">
        <p class="membership-plan-name" id="plan-two-title">2 Plates</p>

        <p class="membership-plan-price">$14.99/monthly</p>

        <div class="membership-plan-line"></div>

        <p class="membership-plan-desc">
            Enjoy our wonderful facilities and pool area. Ask for help from any of our best trainers.
        </p>

        <ul class="membership-plan-items">
            <li>Access to basic facilities</li>
            <li>Access to pool</li>
            <li>5 free trainer meets</li>
            <li>Access to our Bioelectrical Impedance</li>
            <li>Monthly diet and fitness plan</li>
        </ul>
    </div>

    <div class="membership-plan" id="plan-three-background">
        <p class="membership-plan-name" id="plan-three-title">3 Plates</p>

        <p class="membership-plan-price">$24.99/monthly</p>

        <div class="membership-plan-line"></div>

        <p class="membership-plan-desc">
            Enjoy our wonderful facilities and reach your goals.
        </p>

        <ul class="membership-plan-items">
            <li>Access to basic facilities</li>
            <li>Access to pool</li>
            <li>Access to our Bioelectrical Impedance</li>
            <li>Biweekly diet and fitness plan</li>
            <li>10% discount with trainers</li>
            <li>15% discount for any supplements or other fitness supplies</li>
        </ul>
    </div>
</div>

<div id="membership-form">
    <div id="membership-form-background"></div>

    <div id="membership-form-box">
        <p id="membership-form-box-title">Become a member</p>
        <input id="membership-form-box-text" class="input-membership" type="text" placeholder="Email" />
        <input id="membership-form-box-password" class="input-membership" type="text" placeholder="Password" />
        <input id="membership-form-box-confirm" class="input-membership" type="text" placeholder="Confirm Password" />

        <div id="membership-form-box-submit-container">
            <input id="membership-form-box-cancel" type="button" value="cancel" />
            <input id="membership-form-box-submit" type="button" value="submit" />
        </div>
    </div>
</div>

<script src="./js/Membership.js"></script>