<div id="shop">
    <div id="shop-backgroundShape"></div>
    <p id="shop-title">Enjoy from our wide verity of products to help you reach your goals.</p>
    <div id="shop-products">
        {{!-- <div class="shop-products-item">
            <div class="shop-products-item-image">
                <img src="./../public/assets/products/eea5329a-d92f-4ff3-8921-b6a89f45e05a.d8a8ac2db0fec973757942c92674cf2a.jpeg" />
            </div>
            <h2>name</h2>
            <p>price</p>
        </div> --}}
        
    </div>
</div>

<script src="./../js/Shop.js"></script>
<script type="text/javascript" src="vanilla-tilt.js"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".shop-products-item"));
</script>