<div id="trainers-page">
    <div id="trainers-page-head">
        <ol>
            <li>M</li>
            <li>e</li>
            <li>e</li>
            <li>t</li>
            <li> </li>
            <li>O</li>
            <li>u</li>
            <li>r</li>
            <li> </li>
            <li>T</li>
            <li>r</li>
            <li>a</li>
            <li>i</li>
            <li>n</li>
            <li>e</li>
            <li>r</li>
            <li>s</li>
        </ol>
    </div>

    <div id="trainers-instructor">
        <div class="instructor">
            {{!-- <div class="instructor-freeClass">
                <p>Set up a class</p>

                <div class="instructor-freeClass-day">
                </div>
            </div> --}}

            <div class="instructor-info">
                <div class="instructor-title">
                    <h2>Wade</h2>
                    <p>(Boxing Trainer)</p>
                </div>
                <p class="instructor-desc">When you need someone to help push you to reach your full potental I am a great canidate. I am strict, but I understand where my cleints need to improve and I know how to reach those imporvements.</p>
                <div class="instructor-ratings">
                    <p>Rating </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>

            <div class="instructor-image">
                <img src="assets/wade-austin-ellis-sf0qE4XehbI-unsplash.jpg" />
            </div>
        </div>

        <div class="instructor">
            {{!-- <div class="instructor-freeClass">
                <p>Set up a class</p>

                <div class="instructor-freeClass-day">
                </div>
            </div> --}}

            <div class="instructor-info">
                <div class="instructor-title">
                    <h2>Huseyn</h2>
                    <p>(Weight Training)</p>
                </div>
                <p class="instructor-desc">If your goals are competing in a compotition or just build your strength. I can help reach those goals. I love helping other reach the very best they can be and going beyond that. Everyone has potental and all they need is someone to help them reach taht potental.</p>
                <div class="instructor-ratings">
                    <p>Rating </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>

            <div class="instructor-image">
                <img src="assets/akram-huseyn-rjPSYMu9GCI-unsplash.jpg" />
            </div>
        </div>

        <div class="instructor">
            {{!-- <div class="instructor-freeClass">
                <p>Set up a class</p>

                <div class="instructor-freeClass-day">
                </div>
            </div> --}}

            <div class="instructor-info">
                <div class="instructor-title">
                    <h2>Lowis</h2>
                    <p>(Boxing Trainer)</p>
                </div>
                <p class="instructor-desc">Everyone should have fun when training. I love training my cleints with passion and laughter so we can enjoy reach any goal they want while also enjoying there time doing so.</p>
                <div class="instructor-ratings">
                    <p>Rating </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>

            <div class="instructor-image">
                <img src="assets/logan-weaver-lgnwvr-sPiMBrdGG9c-unsplash.jpg" />
            </div>
        </div>

        <div class="instructor">
            {{!-- <div class="instructor-freeClass">
                <p>Set up a class</p>

                <div class="instructor-freeClass-day">
                </div>
            </div> --}}

            <div class="instructor-info">
                <div class="instructor-title">
                    <h2>Larry</h2>
                    <p>(Sports trainer)</p>
                </div>
                <p class="instructor-desc">Training correctly is an important part to any fitness journey. I have a passion to help those who want to learn and improve in any sport they are in. With the correct knowledge other are able to contiune their fitness journey in safe and long lasting way to prevent future injuries and pains.</p>
                <div class="instructor-ratings">
                    <p>Rating </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>

            <div class="instructor-image">
                <img src="assets/larry-crayton-IsSxH3_6WlE-unsplash.jpg" />
            </div>
        </div>
    </div>
</div>

<script src="./../js/Trainers.js"></script>