#main {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./../assets/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
    /* background-image: url("./../assets/daniel-apodaca-WdoQio6HPVA-unsplash.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-text {
    color: var(--main-text-color);
    font-size: 4rem;
    font-family: var(--font-family);
    margin: 0 0 0 10vw;
}

.main-small {
    color: white;
    font-size: 2rem;
    font-family: var(--font-family);
    margin: 0 0 0 10vw;
}

#main-container {
    display: flex;
    width: fit-content;
    height: auto;
}

.main-letter {
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -100%;
    overflow: hidden;
    opacity: 0;
}

.customButton {
    background-color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    width: fit-content;
    min-width: 60px;
    max-width: 80px;
    height: auto;
    min-height: 25px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transition: background-color 1s ease;
}

.customButton:hover {
    background-color: transparent;
    cursor: pointer;
}

.customText {
    color: black !important;
    font-size: 1rem !important;
    transition: color 1s ease;
}

.customButton:hover .customText {
    color: var(--main-text-color) !important;
}

@keyframes fadeUp {
    0% {
        bottom: -100%;
        opacity: 0;
    }
    100% {
        bottom: 0%;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 2000px) {
    
}

@media screen and (max-width: 1440px) {
    .main-text{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 500px) {
    .main-text {
        font-size: 2.5rem;
    }
    .main-small {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .main-text {
        font-size: 2rem;
    }
    .main-small {
        font-size: 1.3rem;
    }
}