<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./css/index.css" />
        <link rel="stylesheet" href="./css/Nav.css" />
        <link rel="stylesheet" href="./css/Home-header.css" />
        <link rel="stylesheet" href="./css/Home-about.css" />
        <link rel="stylesheet" href="./css/Home-products.css" />
        <link rel="stylesheet" href="./css/Home-trainers.css" />
        <link rel="stylesheet" href="./css/Footer.css" />
        <link rel="stylesheet" href="./css/Trainers.css" />
        <title>fitness-gym</title>
        <script src="https://kit.fontawesome.com/66d7df6df2.js" crossorigin="anonymous"></script>
    </head>
    <body>
                <div id="nav">
            <a href="/" id="nav-icon"><p>Gym</p></a>

            <ul id="nav-items">
                <div id="nav-items-about">
                    <li class="nav-items-about-title" id="aboutLink">About</li>
                    <ul id="nav-items-about-title-items">
                        <li id="infoDropNav">Info</li>
                        <li id="productsDropNav">Products</li>
                        <li id="trainersDropNav">Trainers</li>
                    </ul>
                </div>
                <li class="nav-items-about-title" id="trainersLink">Trainers</li>
                <li class="nav-items-about-title" id="shopLink">Shop</li>
                {{!-- <li class="nav-items-about-title" id="cartLink">Cart</li>
                <li class="nav-items-about-title" id="profileLink">Profile</li> --}}
            </ul>
        </div>
        <div id="nav-colapse">
            <div id="nav-colapse-top">
                <a href="/" id="nav-colapse-top-icon"><p>Gym</p></a>
                <button id="nav-colapse-top-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <ul id="nav-colapse-dropdown">
                <li>About</li>
                <li>Trainers</li>
                <li>Shop</li>
                <li>Cart</li>
                <li>Profile</li>
            </ul>
        </div>

        {{{body}}}

        <footer>
            <div id="footer-contact">
                <h2>GYM</h2>
                <div id="footer-contact-info">
                    <p>email@gmail.com</p>
                    <p>123-456-7890</p>
                </div>
                <div id="footer-contact-address">
                    <p>123 street City,</p>
                    <p>State Country</p>
                </div>
                <div id="footer-contact-links">
                    <p id="footer-contact-links-twitter"><i class="fa-brands fa-twitter"></i></p>
                    <p id="footer-contact-links-facebook"><i class="fa-brands fa-facebook"></i></p>
                    <p id="footer-contact-links-insta"><i class="fa-brands fa-instagram"></i></p>
                </div>
            </div>

            <div id="footer-nav">
                <p>Home</p>
                <p>Trainers</p>
                <p>Shop</p>
                <p>Cart</p>
                <p>Account</p>
            </div>

            <div id="footer-email">
                <h2>Newsletter sign-up</h2>
                <div id="footer-email-inputs">
                    <p>Sign-up to our newsletter and get the newest information.</p>
                    <input type="text" placeholder="Email Address" id="footer-email-inputs-text" />
                    <input type="button" value="Submit"
                    id="footer-email-inputs-btn" class="smallBtn" />
                </div>
            </div>
        </footer>

        <script src="./js/Nav.js"></script>
    </body>
</html>