<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./css/index.css" />
        <link rel="stylesheet" href="./css/Nav.css" />
        <link rel="stylesheet" href="./css/Home-header.css" />
        <link rel="stylesheet" href="./css/Home-about.css" />
        <link rel="stylesheet" href="./css/Home-products.css" />
        <link rel="stylesheet" href="./css/Home-trainers.css" />
        <link rel="stylesheet" href="./css/Footer.css" />
        <title>fitness-gym</title>
        <script src="https://kit.fontawesome.com/66d7df6df2.js" crossorigin="anonymous"></script>
    </head>
    <body>
                <div id="nav">
            <a href="/" id="nav-icon"><p>Gym</p></a>

            <ul id="nav-items">
                <div id="nav-items-about">
                    <li class="nav-items-about-title">About</li>
                    <ul id="nav-items-about-title-items">
                        <a href="#about"><li>Info</li></a>
                        <a href="#products"><li>Products</li></a>
                        <a href="#trainers"><li>Trainers</li></a>
                    </ul>
                </div>
                <li class="nav-items-about-title">Trainers</li>
                <li class="nav-items-about-title">Shop</li>
                <li class="nav-items-about-title">Cart</li>
                <li class="nav-items-about-title">Profile</li>
            </ul>
        </div>
        <div id="nav-colapse">
            <div id="nav-colapse-top">
                <a href="/" id="nav-colapse-top-icon"><p>Gym</p></a>
                <button id="nav-colapse-top-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <ul id="nav-colapse-dropdown">
                <li>About</li>
                <li>Trainers</li>
                <li>Shop</li>
                <li>Cart</li>
                <li>Profile</li>
            </ul>
        </div>

        {{{body}}}
        
        <script src="./js/Nav.js"></script>
    </body>
</html>